### More on Pands

In [67]:
import pandas as pd
import numpy as np

In [68]:
g_df=pd.read_csv("market_fact.csv")

In [13]:
g_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [14]:
g_df.shape

(8399, 10)

In [15]:
g_df.head(4)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37

In [69]:
g_df.tail(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [17]:
g_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [18]:
g_df.sample(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8005,Ord_2222,Prod_16,SHP_6470,Cust_1602,88.2300,0.10,42,-195.93,5.00,0.81
4227,Ord_472,Prod_15,SHP_634,Cust_171,3114.0500,0.01,32,-1207.18,74.35,0.57
226,Ord_628,Prod_4,SHP_860,Cust_220,477.5045,0.09,17,-245.56,5.00,0.85
6401,Ord_1251,Prod_5,SHP_1728,Cust_469,8958.4600,0.02,41,2593.14,21.21,0.59
1398,Ord_2494,Prod_13,SHP_3419,Cust_961,49.4900,0.01,28,-1.23,0.70,0.56

In [19]:
g_df.index

RangeIndex(start=0, stop=8399, step=1)

In [71]:
g_df.isnull().sum()
# g_df.isnull().sum().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [72]:
g_df.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [38]:
g=g_df.columns.to_series().groupby(g_df.dtypes).groups
g

{dtype('int64'): Index(['Order_Quantity'], dtype='object'),
 dtype('float64'): Index(['Sales', 'Discount', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'], dtype='object'),
 dtype('O'): Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id'], dtype='object')}

In [65]:
# num_cols_Obj=g_df.columns[g_df.dtypes==object]
# num_cols_int=g_df.columns[(g_df.dtypes!=object)&(g_df.dtypes!=float)]
# num_cols_float=g_df.columns[g_df.dtypes==float]
# print("Object=>",len(num_cols_Obj))
# print("Integer=>",len(num_cols_int))
# print("Float=>",len(num_cols_float))
g_df.dtypes.value_counts()

float64    5
object     4
int64      1
dtype: int64

In [49]:
num_cols_int=g_df.columns[g_df.dtypes==int]
num_cols_int

Index([], dtype='object')

In [56]:
g_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [59]:
for col in g_df.columns:
    print(g_df[col].min(),g_df[col].max())

Ord_1 Ord_999
Prod_1 Prod_9
SHP_1 SHP_999
Cust_1 Cust_999
2.24 89061.05
0.0 0.25
1 50
-14140.7 27220.69
0.49 164.73
0.35 0.85

In [66]:
g_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [76]:
cat_cols=g_df.columns[g_df.dtypes==object]
cat_cols

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id'], dtype='object')

In [73]:
g_df.nunique()

Ord_id                 5506
Prod_id                  17
Ship_id                7701
Cust_id                1832
Sales                  8153
Discount                 16
Order_Quantity           50
Profit                 7807
Shipping_Cost           652
Product_Base_Margin      51
dtype: int64

In [77]:
for i in cat_cols:
    print(g_df[i].value_counts())

Ord_542     6
Ord_2506    6
Ord_1053    5
Ord_1581    5
Ord_1664    5
Ord_1791    5
Ord_1234    5
Ord_1931    5
Ord_4025    5
Ord_2164    5
Ord_2970    5
Ord_2370    5
Ord_4946    5
Ord_996     5
Ord_1980    5
Ord_2894    5
Ord_845     5
Ord_1639    5
Ord_1846    5
Ord_5186    5
Ord_56      5
Ord_3806    4
Ord_303     4
Ord_2853    4
Ord_1699    4
Ord_4757    4
Ord_1736    4
Ord_643     4
Ord_3040    4
Ord_4792    4
           ..
Ord_4097    1
Ord_2443    1
Ord_4420    1
Ord_568     1
Ord_3389    1
Ord_138     1
Ord_5053    1
Ord_1144    1
Ord_5173    1
Ord_5237    1
Ord_2912    1
Ord_5453    1
Ord_4775    1
Ord_2179    1
Ord_2640    1
Ord_961     1
Ord_2689    1
Ord_4274    1
Ord_2742    1
Ord_3218    1
Ord_3203    1
Ord_3664    1
Ord_205     1
Ord_4362    1
Ord_4082    1
Ord_4358    1
Ord_3949    1
Ord_2669    1
Ord_2602    1
Ord_733     1
Name: Ord_id, Length: 5506, dtype: int64
Prod_6     1225
Prod_3      915
Prod_4      883
Prod_5      788
Prod_8      758
Prod_13     633
Prod_1      546
Prod_2      434
Prod_15     386
Prod_11     361
Prod_17     337
Prod_12     288
Prod_9      246
Prod_10     189
Prod_7      179
Prod_16     144
Prod_14      87
Name: Prod_id, dtype: int64
SHP_564     4
SHP_1378    4
SHP_5602    4
SHP_5000    3
SHP_7635    3
SHP_73      3
SHP_1453    3
SHP_7460    3
SHP_4483    3
SHP_432     3
SHP_4764    3
SHP_4686    3
SHP_2484    3
SHP_2611    3
SHP_3454    3
SHP_6845    3
SHP_2538    3
SHP_722     3
SHP_6552    3
SHP_4621    3
SHP_7378    3
SHP_2528    3
SHP_156     3
SHP_950     3
SHP_376     3
SHP_6381    3
SHP_6040    3
SHP_2606    3
SHP_785     3
SHP_1231    3
           ..
SHP_3922    1
SHP_5975    1
SHP_2717    1
SHP_684     1
SHP_1894    1
SHP_2730    1
SHP_7216    1
SHP_7065    1
SHP_2638    1
SHP_6692    1
SHP_3096    1
SHP_1563    1
SHP_4747    1
SHP_3924    1
SHP_1237    1
SHP_4039    1
SHP_955     1
SHP_4829    1
SHP_2373    1
SHP_1606    1
SHP_47      1
SHP_5944    1
SHP_82      1
SHP_1919    1
SHP_1250    1
SHP_1127    1
SHP_5044    1
SHP_693     1
SHP_1582    1
SHP_3034    1
Name: Ship_id, Length: 7701, dtype: int64
Cust_1140    30
Cust_1329    22
Cust_444     21
Cust_572     21
Cust_1337    20
Cust_942     20
Cust_1445    20
Cust_999     20
Cust_1799    20
Cust_576     19
Cust_492     19
Cust_188     19
Cust_1731    18
Cust_1457    18
Cust_1184    18
Cust_1360    18
Cust_1401    18
Cust_458     18
Cust_1155    18
Cust_487     18
Cust_1016    18
Cust_1673    17
Cust_944     17
Cust_138     17
Cust_214     17
Cust_512     17
Cust_595     16
Cust_139     16
Cust_231     16
Cust_212     16
             ..
Cust_1083     1
Cust_975      1
Cust_1105     1
Cust_973      1
Cust_642      1
Cust_1372     1
Cust_764      1
Cust_969      1
Cust_1243     1
Cust_1174     1
Cust_883      1
Cust_10       1
Cust_1555     1
Cust_313      1
Cust_1247     1
Cust_778      1
Cust_310      1
Cust_215      1
Cust_1129     1
Cust_857      1
Cust_161      1
Cust_386      1
Cust_380      1
Cust_1531     1
Cust_1424     1
Cust_387      1
Cust_1076     1
Cust_612      1
Cust_292      1
Cust_1009     1
Name: Cust_id, Length: 1832, dtype: int64

In [1]:
market_df=pd.read_csv("market_fact.csv")
cust_df=pd.read_csv("cust_dimen.csv")
order_df=pd.read_csv("orders_dimen.csv")
product_df=pd.read_csv("prod_dimen.csv")
product_df

NameError: name 'pd' is not defined